<div class="yearly-calendar">
  <div class="year-number centerd">
      <h1>{{year.year}}</h1>
      <button class="year-btn" (click)="setYear(false)">Previous</button>
      <button class="year-btn" (click)="setYear(true)">Next</button>
  </div>
  <div class="container-calendar">
    <ng-container *ngFor="let month of year.months">
      <div class="wrapper-calendar centerd">
        <div class="header-calendar centerd">
          <div class="month-name centerd">
            <h2>{{month.name}}</h2>
          </div>
        </div>
        <ol>
          <li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>
          <li *ngFor="let day of month.days;let first = first"
            [style.gridColumnStart]="first ? day.indexWeek+1 : 'auto'">
            <div [ngClass]="{'day-booked': day.booked, 'day': !day.booked}" [style.opacity]="day.opacity">
              <span class="day-number">{{day.value}}</span>
            </div>
          </li>
        </ol>
      </div>
    </ng-container>
  </div>
</div>
